@import "tailwindcss";

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/IBMPlexSans-VariableFont_wdth\,wght.ttf');
}

@keyframes progress-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

* {
  font-family: "JetBrains Mono", monospace;
}


:root {
  --background: #191818;
  --foreground: #ffffff;
  --layer: #242324;
  --border: #2C2C2B;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-layer {
    background-color: var(--layer);
  }

  .border-custom {
    border-color: var(--border);
  }
}